global
    daemon
    log stdout format raw local0 info
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect  10s
    timeout client   60s
    timeout server   60s
    retries 3
    option  redispatch

frontend postgres_write_front
    bind *:5000
    mode tcp
    default_backend postgres_write_back

backend postgres_write_back
    mode tcp
    balance first
    option httpchk GET /health
    http-check expect status 200
    server pg-primary postgres-primary:5432 check port 8008 inter 2000ms rise 2 fall 3
    server pg-standby postgres-standby:5432 check port 8008 inter 2000ms rise 2 fall 3 backup

frontend postgres_read_front
    bind *:5001
    mode tcp
    default_backend postgres_read_back

backend postgres_read_back
    mode tcp
    balance roundrobin
    option httpchk GET /alive
    http-check expect status 200
    server pg-primary postgres-primary:5432 check port 8008 inter 2000ms rise 2 fall 3
    server pg-standby postgres-standby:5432 check port 8008 inter 2000ms rise 2 fall 3

frontend stats_front
    bind *:7000
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:computo2024
    stats show-legends
    stats show-node