# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/*.log
backend/uploads/

# Node
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
